.about_container {
    background-color: $bg-color;
    padding-bottom: 15vh;
    padding-left: 2%;
    padding-right: 2%;
}

.about_container_center {
    max-width: $max-width-container;
    margin: 0 auto;
}

.about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about_header {
    @include text(Open Sans, 40px, 700, normal, #FFFFFF, 130%);
    max-width: 100%;
    margin-bottom: 5vh;
}

.about_text {
    @include text(Open Sans, 16px, 600, normal, #FFFFFF, 160%);
    margin-top: 5vh;
    max-width: 100%;
    opacity: 0.7;
}

.about_pict {
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .about {
        flex-wrap: wrap;
        padding-left: calc((100% - 548px) / 2);
        padding-right: calc((100% - 548px) / 2);
    }

    .about_rigth {
        margin-top: 10vh;
    }

    .about_header {
        text-align: center;
    }

    .about_text {
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 375px) {
    .about {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
    }

    .about_header {
        text-align: center;
        font-size: 24px;
    }

    .about_text {
        text-align: center;
        max-width: 100%;
    }
}