.footer_container {
    background-color: $bg-color-fotter-container;
    padding-left: 2%;
    padding-right: 2%;
}

.footer_conteiner_center {
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin: 0 auto;
    max-width: $max-width-container;
}

.footer {
    @extend .flex;
}

.footer_header {
    margin-bottom: 3vh;
    @include text(Roboto, 16px, 500, normal, #FFFFFF, 19px);
}

.footer_center {
    width: 23%;
}

.footer_text {
    @include text(Roboto, 14px, 100, italic, #FFFFFF, 16px);
    opacity: 0.6;
}

.footer_text_conteiner {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

.footer_text_info {
    @include text(Roboto, 14px, 500, normal, #FFFFFF, 16px);
}


@media screen and (max-width: 768px) {
    .footer {
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .footer_left,
    .footer_rigth {
        margin-left: 5vw;
        width: 40%;
    }

    .footer_rigth {
        margin-top: 20px;
    }

    .footer_center {
        width: 40%;
    }
}

@media screen and (max-width: 426px) {

    .footer_left,
    .footer_center,
    .footer_rigth {
        width: 90%;
    }

    .footer_header {
        margin-top: 2vh;
        text-align: center;
    }

    .footer_center {
        margin-left: 5vw;
        order: -1;
    }

    .footer_text_brand {
        text-align: center;
    }
}