.header {
    background-color: $bg-color;
}

.header_container {
    max-width: $max-width-container;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    justify-content: center;
}

.header-link {
    text-decoration: none;
    padding: 3.5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: white;
    transition: color .3s;
}

.header-link:hover {
    color: $color-button;
}

@media screen and (max-width: 376px) {
    .header-link {
        font-size: 14px;
    }
}